#setting-selector {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
#setting-selector ul li a.current {
    font-weight: 900;
    color: #FE445C;
}

#setting-selector ul li a:hover {
    background-color: #F2F6FB;
}

#custom-fields .custom-item p {
    padding: 10px;
    background-color: #F5F5F5;
    color: #797979;
    font-size: 12px;
    width: 80%;
    border-radius: 5px;
}

#custom-fields .custom-item .custom-desc {
    margin-left: 100px;
}

